{{- /*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/ -}}
{{define "limits" -}}
{{with .Site.Limits -}}
<section class="section limits" id="limits" aria-labelledby="limits-title">
  <div class="wrap">
    <div class="section-head">
      <h2 id="limits-title">{{.Title}}</h2>
      <p class="section-intro">{{.Intro}}</p>
    </div>
    <div class="limits-head tech-label" aria-hidden="true">
      <span>{{.LimitLabel}}</span>
      <span>{{.ResponseLabel}}</span>
    </div>
    {{- $l := .LimitLabel}}{{$r := .ResponseLabel}}
    <ol class="limits-list" role="list">
      {{- range .Items}}
      <li class="limit">
        <div class="limit-part">
          <p class="limit-label tech-label">{{$l}}</p>
          <p class="limit-text">{{.Limit}}</p>
        </div>
        <div class="limit-part">
          <p class="limit-label tech-label">{{$r}}</p>
          <p class="limit-response">{{.Response}}</p>
        </div>
      </li>
      {{- end}}
    </ol>
  </div>
</section>
{{- end}}
{{- end}}
