{{- /*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/ -}}
{{define "name" -}}
{{with .Site.Name -}}
<section class="name is-dark" id="name" aria-labelledby="name-title">
  <img class="name-mark" src="{{asset "brand/tiefer-mark-white.svg"}}" alt="" width="690" height="690" loading="lazy" aria-hidden="true">
  <div class="wrap name-inner">
    <h2 class="name-line" id="name-title">{{.Line}}</h2>
    <p class="name-body">{{.Body}}</p>
  </div>
  <svg class="name-limb" viewBox="0 0 1440 120" preserveAspectRatio="none" aria-hidden="true" focusable="false">
    <path d="M-40 120 Q720 -10 1480 120" fill="#FFFFFF" fill-opacity="0.03" stroke="#B9B4D1" stroke-opacity="0.4" stroke-width="1.25" vector-effect="non-scaling-stroke"/>
  </svg>
</section>
{{- end}}
{{- end}}
