{{- /*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/ -}}
{{define "principles" -}}
{{with .Site.Principles -}}
<section class="section principles" id="principles" aria-labelledby="principles-title">
  <div class="wrap">
    <div class="section-head">
      <h2 id="principles-title">{{.Title}}</h2>
    </div>
    <ol class="grid grid--3 principle-list" role="list">
      {{- range $i, $p := .Items}}
      <li class="principle">
        <span class="tech-label index" aria-hidden="true">{{pad2 (inc $i)}}</span>
        <h3>{{$p.Title}}</h3>
        <p>{{$p.Text}}</p>
      </li>
      {{- end}}
    </ol>
  </div>
</section>
{{- end}}
{{- end}}
