{{- /*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/ -}}
{{define "problem" -}}
{{with .Site.Problem -}}
<section class="section problem" id="problem" aria-labelledby="problem-title">
  <div class="wrap">
    <div class="section-head section-head--split">
      <h2 id="problem-title">{{.Title}}</h2>
      <p class="section-intro">{{.Intro}}</p>
    </div>
    <ul class="grid grid--4 problem-list" role="list">
      {{- range $i, $item := .Items}}
      <li class="problem-item">
        <span class="tech-label index">{{pad2 (inc $i)}}</span>
        <h3>{{$item.Title}}</h3>
        <p>{{$item.Text}}</p>
      </li>
      {{- end}}
    </ul>
  </div>
</section>
{{- end}}
{{- end}}
