{{- /*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/ -}}
{{define "question" -}}
<figure class="prompt">
  <div class="prompt-box">
    <img class="prompt-icon" src="{{asset "brand/tiefer-mark-white.svg"}}" alt="" width="20" height="20" aria-hidden="true">
    <p class="prompt-text">{{.Question}}<span class="prompt-caret" aria-hidden="true"></span></p>
    <span class="prompt-send" aria-hidden="true"><svg viewBox="0 0 16 16" width="16" height="16" focusable="false"><path d="M8 13V3M3.5 7.5 8 3l4.5 4.5" fill="none" stroke="currentColor" stroke-width="1.5"/></svg></span>
  </div>
  <figcaption class="prompt-caption tech-label">{{.QuestionCaption}}</figcaption>
</figure>
{{- end}}
